@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

.body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

input[type="range"] {
  display: block;
  margin-bottom: 15px;
  appearance: none;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  border-radius: 0px;
  width: 20px;
  padding-top: 6px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s;
}

.play-item:hover {
  opacity: 1;
}

.play-item.active {
  color: #c5b358;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.player-time {
  margin-bottom: 5px;
}

.sound-pic {
  background-image: url(../assets/svg/sound.svg);
  background-repeat: no-repeat;
  max-width: 35px;
  height: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.no-mute {
  background-image: url(../assets/svg/off_sound.svg);
  background-repeat: no-repeat;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.selected {
  font-style: italic;
  font-weight: 700;
}

.to-do-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 83%;
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  background-image: url(../assets/svg/message.svg);
  background-repeat: no-repeat;
  background-position-x: 180px;
  padding-right: 30px;
  background-position-y: -5px;
  background-size: 35px 35px;
  transition: all ease 0.4s;
}

.to-do {
  height: 25px;
  width: 170px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

form .to-do,
.to-do-add {
  font-size: 16px;
  border-width: 0px;
}

.to-do[placeholder] {
  font-size: 16px;
  padding-left: 5px;
}

.to-do-add {
  height: 26px;
  text-transform: uppercase;
  background-color: #fbc34e;
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 5px;
}

.to-do-items {
  display: flex;
  flex-direction: column;
}

.to-do-item {
  list-style-type: none;
  transition: all 0.4s;
  font-size: 15px;
  height: 25px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #fbc34e;
  position: relative;
  display: flex;
  align-items: center;
}

.to-do-item::before {
  content: "\00B7";
  padding-right: 10px;
  padding-left: 5px;
}

.done:active {
  background: url(../assets/svg/icon2.svg) no-repeat;
}

.delete {
  display: block;
  background-image: url(../assets/svg/active_menu.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20%;
  left: 88%;
}

@media (max-width: 1590px) {
  .to-do-list {
    left: 80%;
  }
}

@media (max-width: 1240px) {
  .to-do-list {
    left: 72%;
  }
}

@media (max-width: 950px) {
  .to-do-list {
    left: 65%;
  }
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
